<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lista de números</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Número</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${registro}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>

                    <div class="form-group row">
                        <div class="col-md-1">
                            <label>Id</label>
                            <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Data</label>
                            <input type="text" class="form-control input-sm" th:field="*{hora}" maxlength="30" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5">
                            <label>Número</label>
                            <textarea class="form-control input-sm" th:field="*{numero}" cols="5" rows="7" readonly="readonly"></textarea>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-5">
                            <label>Assinatura</label>
                            <textarea class="form-control input-sm" th:field="*{assinatura}" cols="5" rows="7" readonly="readonly"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1">
                            <label>Origem</label>
                            <input type="text" class="form-control input-sm" id="id" th:field="*{origem}" readOnly="readonly"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <!--<button type="submit" class="btn btn-sm btn-primary">Anterior</button>-->
                <!--<a th:href="@{/}" class="btn btn-sm btn-default">Proximo</a>-->
            </div>
        </form>
    </div>
</div>


</body>
</html>